<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837108911425-7lgrh9fh9stfl4qpp3ngjn02ukg82mv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837108911425-7lgrh9fh9stfl4qpp3ngjn02ukg82mv0</string>
	<key>API_KEY</key>
	<string>AIzaSyAg-bVjpLMi2i58CJ0MZj2P6CY0OYzRBq8</string>
	<key>GCM_SENDER_ID</key>
	<string>837108911425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developer.covid.SceneProject</string>
	<key>PROJECT_ID</key>
	<string>sceneapp-2714e</string>
	<key>STORAGE_BUCKET</key>
	<string>sceneapp-2714e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837108911425:ios:c1ca61ae7e9a7eb488e5c0</string>
	<key>DATABASE_URL</key>
	<string>https://sceneapp-2714e.firebaseio.com</string>
</dict>
</plist>